@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "MuseoModerno", sans-serif;
  background-color: whitesmoke;
}

.photos {
  margin: 10px 20%;
}

.photos img {
  width: 100%;
  margin-top: 5px;
  border-radius: 8px;
}

h1 {
  text-align: center;
  margin-top: 25px;
  margin-bottom: 15px;
  font-size: 40px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgb(48, 48, 48);
}