@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "MuseoModerno", sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0;
  text-align: center;
  color: black;
  background-image: linear-gradient(to right, #22c1c3 , #fdbb2d);
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section {
  margin-top: 7%;
}

.card {
  width: 500px;
  box-shadow: 5px 5px 7px #6f6f72;
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: beige;
  height: 10vh;
  padding: 20px 0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.weather h1 {
  margin: 0;
  font-size: 2.5em;
  color: #062627;
}

.city {
  margin: 0;
  font-size: 2em;
}

.state {
  margin-top: 0;
}

.info {
  display: flex;
  background-color: white;
}

.info * {
  font-size: small;
  padding: 20px;
  flex: 1;
  border-right: 1px solid #e6e6e6;
}